doctype 5
html(lang="en")
    head
        title Shell
        each stylesheet in stylesheets
            link(
                href="#{stylesheet.href}"
                type="#{stylesheet.type}"
                media="#{stylesheet.media}"
                rel="#{stylesheet.rel}"
            )
        each script in scripts
            script(
                type="#{script.type}"
                src="#{script.src}"
            )
    body
        .container
            h1 Shell
            !{body}